html,
body {
    padding: 0;
    height: 100%;
}
 
body {
    background-image: linear-gradient(150deg, #bf8eec 0, #940c99 16.67%, #b26cc0 33.33%, hsl(276, 50%, 56%) 50%, #8f62e2 66.67%, hsl(295, 66%, 50%) 83.33%, hsl(249, 66%, 70%) 100%);
    display: flex;/*Comportamento do elemento na pagina*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
/* Estilização do container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
 
.form {
    background-image: linear-gradient(150deg, #9f36a3 0, #8818e4 16.67%, #7d26a5 33.33%, #9a69c2 50%, #a13eda 66.67%, #b796dd 83.33%, #bb49f0 100%);
    background-color: #953dfa;
    padding: 30px;
    padding-top: 0;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px black;
}
 
h3 {
    text-align: center;
}
 
